.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContainer {
  background: rgb(242, 240, 240);
  padding: 30px;
  border-radius: 15px;
  width: 90%;
  max-width: 450px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.modalTitle {
  margin-bottom: 20px;
}

.modalForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modalInput,

.modalTextarea {
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  opacity: 1 !important;
  width: 100%;
  box-sizing: border-box;
}
.modalTextarea {
  height: 80px;
  resize: none;
}
.modalActions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.saveBtn {
  flex: 1;
  padding: 12px;
  background: #2ecc71;
  color: rgb(247, 245, 245);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.cancelBtn {
  flex: 1;
  padding: 12px;
  background: #13b5d2;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.checkboxRow{
display:flex;
align-items:center;
gap:10px;
font-size:14px;
margin-top:10px;
}

.modalInput::placeholder,
.modalTextarea::placeholder {
  color: #888 !important;
  -webkit-text-fill-color: #888 !important;
}
