body{
margin:0;
font-family:Inter, sans-serif;
background:var(--color-background);
color:var(--color-text);
}

h1,h2,h3,h4{
color:var(--color-text);
}

p{
color:var(--color-text-light);
}

a{
text-decoration:none;
color:inherit;
}

.page{
padding:20px;
}

.container{
max-width:auto;
margin:auto;
}